{% load compress %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<script>
   var h_url = "{{ request.scheme }}://{{ request.META.HTTP_HOST }}";
</script>
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   {% compress css %}
   <link rel="stylesheet" href="{% static 'src/output.css' %}">
   <link rel="stylesheet" href="{% static 'assets/fonts/@fontsource/inter/index.css' %}">
   
   {% endcompress %}

   {% compress js inline %}
   {% if request.path == '/reports/preview' %}
      <script src="{% static 'scripts/node/canvas-datagrid.js' %}"></script>
      <script src="{% static 'scripts/node/xlsx.full.min.js' %}"></script>
   {% endif %}

   <script src="{% static 'scripts/node/flowbite.min.js' %}"></script>
   <script src="{% static 'scripts/script.js' %}"></script>
   {% endcompress %}

   <title>Hermes</title>

</head>

<body>
   {% block body %}
   <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
      <div class="px-3 py-3 lg:px-5 lg:pl-3">
         <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
               <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
                  type="button"
                  class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                  <span class="sr-only">Abrir menu</span>
                  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                     <path clip-rule="evenodd" fill-rule="evenodd"
                        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                     </path>
                  </svg>
               </button>
               <a href="/" class="flex ml-2 md:mr-24">
                  <img src="{% static 'assets/logo.png' %}"
                     class="h-8 mr-3" alt="Hermes logo" />
                  <span
                     class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Hermes</span>
               </a>
            </div>
            <div class="flex items-center">
               <div class="flex items-center ml-3">
                  <div>
                     <button type="button"
                        class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                        aria-expanded="false" data-dropdown-toggle="dropdown-user">
                        <span class="sr-only">Open user menu</span>
                        <!-- Todo: user implementation -->
                        <!-- <img class="w-8 h-8 rounded-full" src="https://cdn.statically.io/gh/leafac/fake-avatars/main/avatars/png/99.png"
                           alt="user photo"> -->
                     </button>
                  </div>
                  <div
                     class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                     id="dropdown-user">
                     <div class="px-4 py-3" role="none">
                        <p class="text-sm text-gray-900 dark:text-white" role="none">
                           Jonny Doe
                        </p>
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                           jon.don@unesp.br
                        </p>
                     </div>
                     <ul class="py-1" role="none">
                        <li>
                           <a href="/"
                              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                              role="menuitem">Painel de Controle</a>
                        </li>
                        <li>
                           <a href="/settings"
                              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                              role="menuitem">Configurações</a>
                        </li>
                        <li>
                           <a href="/account/exit"
                              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                              role="menuitem">Sair</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div> 
   </nav>

   <aside id="logo-sidebar"   
      class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
      aria-label="Sidebar">
      <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
         <ul class="space-y-2 font-medium">

            <li>
               <a href="/"
                  class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <svg aria-hidden="true"
                     class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                     fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                     <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                     <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                  </svg>
         
                  <span class="ml-3 font-bold">Painel de controle</span>
               </a>
            </li>
            <li>
               <a href="/devices"
                  class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <svg aria-hidden="true"
                     class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                     fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                     <path
                        d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                     </path>
                  </svg>
                  <span class="flex-1 ml-3 whitespace-nowrap">Dispositivos</span>

               </a>
            </li>
            <li>
               <a href="/reports/list#"
                  class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <svg aria-hidden="true"
                     class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                     fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                     <path
                        d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z">
                     </path>
                     <path
                        d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z">
                     </path>
                  </svg>
                  <span class="flex-1 ml-3 whitespace-nowrap">Relatórios</span>

               </a>
            </li>
            {% if request.user.is_staff and request.user.is_superuser %}
            <li>
               <a href="/settings"
                  class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">

                  <svg xmlns="http://www.w3.org/2000/svg"
                     class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                     fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                     <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5" />
                  </svg>
                  <span class="flex-1 ml-3 whitespace-nowrap">Configurações</span>
               </a>
            </li>
            {% endif %}
         </ul>
      </div>
      <div class="fixed bottom-0 left-0 right-0 bg-gray p-4 w-60">
         <div class="flex flex-col mb-1">

            <span class="text-xs font-light text-blue-700 dark:text-white">Armazenamento</span>
            <span class="text-sm font-medium text-blue-700 dark:text-white">24gb de 500gb</span>
         </div>

         <div class="bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 15%"></div>
         </div>
      </div>
   </aside>

   <div class="p-4 sm:ml-64 overflow-auto">
      <div class="p-4 mt-12" id="content">
         {% block content %}
         {% endblock content %}
      </div>
   </div>

   <footer
   class="bg-white rounded-lg shadow dark:bg-gray-800 flex w-full items-center fixed justify-center bottom-0 left-0">
   <div class="w-full m-auto p-1 md:flex md:items-center justify-center">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/"
            class="hover:underline">Otávio C</a>. Interface Hermes.</span>
   </div>
   </footer>

   {% endblock body %}
</body>

</html>