{% extends "base.html" %}
{% load static %}
{% load tz %} 
{% block main %}
<div class="container">
    <div class="parentch">
        
        <div class="chview picker item">
            <form action="excel">
    
                <input class="form input" type="datetime-local" value="{% now "Y-m-d" %}T{% now "G:i" %}" id="time" name="time">
                
                <box-icon class="form alt" name='tag-alt' type='solid' color='#ffffff' ></box-icon>
                
                <input class="form input" type="datetime-local" value="{% now "Y-m-d" %}T{% now "G:i" %}" id="time" name="time-f">

                <input class="form input points" type="number" id="pontos" name="pmin">
                
                <label class="form input points text" for="pmin">P/min</label>  
            </form>
        </div>

        <box-icon name='plus-circle' class="plus" onclick="addchannel();" rotate='90' color='#ffffff' ></box-icon>

        <p class="report" onclick="apiExportCall()">
            <a>Baixar</a>
            
            <box-icon name='down-arrow-circle' class="down" color='#ffffff' ></box-icon>
        
        </p>
    </div>
</div>
{% endblock main %}

