{% extends "index.html" %} {% block view %}

<!-- <div class="flex items-center h-6 mb-2 rounded bg-gray-50 dark:bg-gray-800">
    <div class="ml-2 inline-block float-left text-dark dark:text-slate-300 text-sm sm:text-base font-semibold">
        <p>Ligado desde {{ uptime }}</p>
    </div>
</div> -->

<div class="grid grid-cols-3 gap-4 mb-4">
  <div
    class="flex flex-col h-20 items-center rounded bg-gray-50 dark:bg-gray-800"
  >
    <p
      class="block mb-2 mt-2 border-b border-gray-200 rounded-t-lg dark:text-white dark:border-gray-600 h-max"
    >
      Estado do sistema
    </p>

    <p
      class="inline-flex text-2xl dark:text-white text-gray-400 dark:text-gray-500"
    >
      OK
    </p>
  </div>
  <div
    class="flex flex-col h-20 items-center rounded bg-gray-50 dark:bg-gray-800"
  >
    <p
      class="block mb-2 mt-2 border-b border-gray-200 rounded-t-lg dark:text-white dark:border-gray-600 h-max"
    >
      Relatórios
    </p>
    <p
      class="inline-flex text-2xl dark:text-white text-gray-400 dark:text-gray-500"
    >
      {{ channels|length }}
    </p>
  </div>
  <div
    class="flex flex-col h-20 items-center rounded bg-gray-50 dark:bg-gray-800"
  >
    <p
      class="block mb-2 mt-2 border-b border-gray-200 rounded-t-lg dark:text-white dark:border-gray-600 h-max"
    >
      Canais
    </p>
    <p
      class="inline-flex text-2xl dark:text-white text-gray-400 dark:text-gray-500"
    >
      {{ channels|length }}
    </p>
  </div>
</div>

<div
  class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800"
></div>

<div class="fixed right-6 mb-6 bottom-6 group">
  <button
    type="button"
    class="flex justify-center items-center w-14 h-14 text-white bg-blue-700 rounded-full hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800"
  >
    <svg
      aria-hidden="true"
      class="w-8 h-8 transition-transform group-hover:rotate-45"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
      ></path>
    </svg>
  </button>
</div>

{% endblock view %}
