{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container">

    
    <div class="system">
        <h2 class="system tittle">Gerenciador do Sistema</h2>
        <p class="system desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat esse quidem nobis iure illo hic natus non sed aspernatur. Nemo officiis ratione nihil dolorum. Placeat voluptatem mollitia, non dolor doloribus porro vitae totam quo tempore quae accusamus sint provident, velit unde adipisci quos ab nihil perspiciatis rerum? Consequuntur, dignissimos minus!
        </p>

        <p class="system status">
            <ul class="system status list">
                <li class="system status list item">
                    <box-icon name='component' type='solid' color='#f5f3f3' ></box-icon>
                    Hermes rc1.0
                </li>
                <li class="system status list item">
                    <box-icon name='django' type='logo' color='#ffffff' ></box-icon>
                    Django 4.2
                </li class="system status list item">

                <li class="system status list item">
                    <box-icon type='solid' name='shield-plus' color='#ffffff'></box-icon>
                    Nginx
                </li>
            </ul>

        </p>
        
        <div class="system monitor">
            <div class="system monitor view">
                <iframe src="http://localhost:3020/d-solo/b061168e-170e-4b59-9afc-1534825ee5cc/new-dashboard?orgId=1&panelId=1" width="450" height="200" width="450" height="200" frameborder="0"></iframe>
            </div>
            <div class="flex-items view">
                <iframe src="http://localhost:8200/d-solo/a81b9e44-2e28-40b8-8b33-9e5f61f56359/new-dashboard?orgId=1&panelId=1&refresh=10s" width="450" height="200" frameborder="0"></iframe>
            </div>
         </div>
    
    </div>
    

 
</div>
{% endblock main %}