@mixin rounded {
    background: rgba( 17, 18, 23, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(33, 35, 58, 0.37);
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}