
$secondary: #111217 ;

$secondary-transparency: #45495c;


$transparency: #3e91cc3d;

$primary: #376e962a ;
// $primary: #3E92CC ;
$menucolor: #FFFAFF;
$tittles: #FFFAFF;

$mainbackground: #181B1F; 


