@import '_mixins.scss';
@import '_variables.scss';
@import '_main.scss';
@import '_navbar.scss';
@import '_devices.scss';
@import '_reports.scss';
@import '_channel.scss';
@import '_login.scss';
@import '_warnings.scss';

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inter:regular);


* {
    padding: 0px;
    margin: 0px;

    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;

    background-color: $mainbackground;
    height: 750px;
    overflow:auto;
    
    background-color: $secondary;

    background: #121318 url('../assets/noise.png');
}


.icon {
    transition: transform 0.3s ease;
}

.icon:hover {
    animation: tada 0.6s;
}